@model IEnumerable<SolicitudCompra>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-warning">Lista de Solicitudes de Compra</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_Createbuttonpartial" />
        </div>
    </div>

    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Estado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.CategoriaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MarcaId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Fecha_Creacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Fecha_Modificacion)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Marca.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Fecha_Creacion)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Fecha_Modificacion)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
                }
            </table>
        }
        else
        {
            <p>No Existen Solicitudes Realizadas</p>
        }
    </div>

</div>