@model IEnumerable<Tickets>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Lista de Tickets</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_Createbuttonpartial" />
        </div>
    </div>

    <br />
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.NO_SERIE)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.ID_TIPO_SOLICITUD)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.TIPO_SERVICIO)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.USUARIO_CREACION)
                    </th>
                    <th class="text-white bg-dark">
                        @Html.DisplayNameFor(m => m.ESTADO)
                    </th>
                    <th class="bg-dark"></th>
                    <th class="bg-dark"></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.NO_SERIE)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ID_TIPO_SOLICITUD)
                </td>
                <td>
                    @Html.DisplayFor(m => item.TIPO_SERVICIO)
                </td>
                <td>
                    @Html.DisplayFor(m => item.USUARIO_CREACION)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ESTADO)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.ID" />
                </td>
            </tr>
                }
            </table>
        }
        else
        {
            <p>No Existen Tickets</p>
        }
    </div>

</div>


